# {{ ansible_managed }}

[config]
db_path={{ otpclient_db_path }}/{{ otpclient_db_name }}
show_memlock_warning=true
show_next_otp=false
notifications=false
search_column=1
auto_lock=true
inactivity_timeout=300
window_width=882
window_height=833
