#!/bin/bash

### {{ ansible_managed }}

# Change to the directory
cd "{{ digikam_container_data_dir }}" || exit

docker-compose down

sleep 5

rsync -zv --ignore-existing {{ digikam_container_data_dir }}/digikam-config/.config/digikamrc {{ digikam_nfs_backup_directory }}/digikamrc_$(date +'%Y-%m-%d')
rsync -zv --ignore-existing {{ digikam_container_data_dir }}/digikam-config/.config/digikam_systemrc {{ digikam_nfs_backup_directory }}/digikam_systemrc_$(date +'%Y-%m-%d')
rsync -zv --ignore-existing {{ digikam_container_data_dir }}/digikam-config/Pictures/digikam4.db {{ digikam_nfs_backup_directory }}/digikam4.db_$(date +'%Y-%m-%d')
rsync -zv --ignore-existing {{ digikam_container_data_dir }}/digikam-config/Pictures/thumbnails-digikam.db {{ digikam_nfs_backup_directory }}/thumbnails-digikam.db_$(date +'%Y-%m-%d')

find {{ digikam_nfs_backup_directory }} -type f -ctime +25 -delete

docker-compose up -d