#!/bin/bash

### {{ ansible_managed }}

docker exec -d -w "{{ backup_directory }}" digikam

sleep 5s && rsync --remove-source-files -zv {{ digikam_container_data_dir }}/mnt-backup/* {{ digikam_nfs_backup_directory }}

find {{ digikam_nfs_backup_directory }} -mtime +{{ digikam_nfs_backup_cleanup_period }} -exec rm {} \;
