---

# {{ ansible_managed }}

version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    build:
      context: build/
    container_name: "{{ pihole_container_name }}"
    image: "{{ pihole_image_custom }}:{{ pihole_image_base_tag }}"
    # Set to host mode as per documentation for Docker & PiHole DHCP
    # Disabled network definitions and port mappings as well
    # https://docs.pi-hole.net/docker/DHCP/
    env_file: pi-hole.env
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8080:80/tcp"
    networks:
      - {{ docker_networks.proxy.name }}
    # Volumes store your data between container upgrades
    volumes:
{% for volume in pihole_container_volumes.binds %}
      - {{ volume.source }}:{{ volume.target }}
{% endfor %}
    restart: "always"
networks:
  {{ docker_networks.proxy.name }}:
    external: true
