---

# {{ ansible_managed }}

version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    build:
      context: build/
    container_name: "{{ pihole_container_name }}"
    image: "{{ pihole_image_custom }}:{{ pihole_image_base_tag }}"
    # Set to host mode as per documentation for Docker & PiHole DHCP
    # Disabled network definitions and port mappings as well
    # https://docs.pi-hole.net/docker/DHCP/
    network_mode: "host"
    # ports:
      # - "8080:80/tcp"
      # - "53:53/tcp"
      # - "53:53/udp"
      # - "67:67/udp"
    env_file: pi-hole.env
    # networks:
    #   - {{ docker_networks.proxy.name }}
    # Volumes store your data between container upgrades
    volumes:
{% for volume in pihole_container_volumes.binds %}
      - {{ volume }}
{% endfor %}
{% for volume in pihole_container_volumes.volumes %}
      - type: "{{ volume.type }}"
        source: "{{ volume.source }}"
        target: "{{ volume.target }}"
{% endfor %}
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
volumes:
  {{ pihole_volumes.nfs_vol.name }}:
    name: "{{ pihole_volumes.nfs_vol.name }}"
    driver_opts:
{% for key,value in pihole_volumes.nfs_vol.driver_opts.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
# networks:
# {% for network in pihole_networks %}
#   {{ network }}:
#     external: "{{ docker_networks[network]['external'] }}"
# {% endfor %}
