# {{ ansible_managed }}

{% if pihole_envs.kv is not none %}
{% for key,value in pihole_envs.kv.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

PIHOLE_DNS_={{ pihole_envs.PIHOLE_DNS_ | join(';') }}
