# {{ ansible_managed }}

CPATH='{{ cert_path }}'
CNAME='{{ lego_domains[0] }}'
CURRENT=$(cat "$CPATH"/"$CNAME".crt)
CF_API_EMAIL={{ cf_api_email }} \
CF_DNS_API_TOKEN={{ cf_dns_api_token }} \

lego  --dns cloudflare {% for domain in lego_domains %} --domains {{ domain }} {% endfor %} --key-type=rsa2048 --email $CF_API_EMAIL --path {{ ssl_path }} --days {{ lego_cert_renewal_period }} -a renew

if [[ $CURRENT != $(cat "$CPATH"/"$CNAME".crt) ]]
then
cat "$CPATH"/"$CNAME".crt "$CPATH"/"$CNAME".key > "$CPATH"/"$CNAME".pem;
/etc/init.d/stunnel.sh restart
fi
