# {{ ansible_managed }}

{% if SERVICE_envs.kv is not none %}
{% for key,value in SERVICE_envs.kv.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

SERVICE_DNS_={{ SERVICE_envs.SERVICE_DNS_ | join(';') }}
