---
### {{ ansible_managed }}

# General

server:
    host: {{ authelia_config_host }}
    port: {{ authelia_config_listen_port }}
{% if authelia_config_headers_csp_template != "" %}
    headers:
        csp_template: "{{ authelia_config_headers_csp_template }}"
{% endif %}
log:
    level: {{ authelia_config_log_level }}
{% if not authelia_config_jwt_secret_external %}
jwt_secret: {{ authelia_config_jwt_secret }}
{% endif %}
default_redirection_url: {{ authelia_config_log_default_redirection }}

default_2fa_method: {{ authelia_config_default_2fa_method }}

# TOTP

totp:
  issuer: {{ authelia_config_totp_issuer }}
  period: 30
  skew: 1

# Authentication
authentication_backend:
  password_reset:
    disable: {{ authelia_config_authentication_backend_disable_reset_password }}
{% if authelia_config_authentication_backend_file %}
  file:
    path: {{ authelia_config_authentication_backend_file_path }}
    password:
      algorithm: "{{ authelia_config_authentication_backend_file_password_algorithm }}"
      {{ authelia_config_authentication_backend_file_password_algorithm }}:
        variant: "{{ authelia_config_authentication_backend_file_password_algorithm }}id"
        iterations: {{ authelia_config_authentication_backend_file_password_iterations }}
        key_length: {{ authelia_config_authentication_backend_file_password_key_length }}
        salt_length: {{ authelia_config_authentication_backend_file_password_salt_length }}
        memory: {{ authelia_config_authentication_backend_file_password_memory }}
        parallelism: {{ authelia_config_authentication_backend_file_password_parallelism }}
{% endif %}

{% if authelia_config_identity_providers_enabled %}
identity_providers:
{% if authelia_config_oidc_enabled %}
    oidc:
        issuer_private_key: |
            {{ authelia_config_oidc_settings.issuer_private_key | indent(width=12) }}
        clients:
{% if authelia_config_oidc_clients | length > 0 %}
{% for authelia_client in authelia_config_oidc_clients %}
          - id: {{ authelia_client.id }}
            description: {{ authelia_client.description }}
            secret: '{{ authelia_client.secret }}'
            redirect_uris:
{% for authelia_redirect_uri in authelia_client.redirect_uris %}
                - {{ authelia_redirect_uri }}
{% endfor %}
            scopes:
{% for authelia_scope in authelia_client.scopes %}
                - {{ authelia_scope }}
{% endfor %}
{% if authelia_client.token_endpoint_auth_method != "" %}
            token_endpoint_auth_method: "{{ authelia_client.token_endpoint_auth_method }}"
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}

# Access Control
access_control:
    default_policy: {{ authelia_config_access_control_default_policy }}
{% if authelia_config_access_control_networks | length > 0 %}
    networks:
{% for authelia_network in authelia_config_access_control_networks %}
      - name: "{{ authelia_network.name }}"
        networks:
{% for cidr_network in authelia_network.networks %}
            - "{{ cidr_network }}"
{% endfor %}
{% endfor %}
{% endif %}
    rules:
{% for access_control_rule in authelia_config_access_control_rules %}
      - domain:
{% for access_control_domain in access_control_rule.domains %}
          - "{{ access_control_domain }}"
{% endfor %}
{% if access_control_rule.resources | length > 0 %}
        resources:
{% for access_rule_resource in access_control_rule.resources %}
          - "{{ access_rule_resource }}"
{% endfor %}
{% endif %}
        policy: {{ access_control_rule.policy }}
{% if access_control_rule.networks | length > 0 %}
        networks:
{% for access_rule_network in access_control_rule.networks %}
          - "{{ access_rule_network }}"
{% endfor %}
{% endif %}
{% endfor %}

# Password Policy
password_policy:
  standard:
    enabled: {{ authelia_config_password_policy_standard_enabled }}
    min_length: {{ authelia_config_password_policy_standard_min_length }}
    max_length: {{ authelia_config_password_policy_standard_max_length }}
    require_uppercase: {{ authelia_config_password_policy_standard_require_uppercase }}
    require_lowercase: {{ authelia_config_password_policy_standard_require_lowercase }}
    require_number: {{ authelia_config_password_policy_standard_require_number }}
    require_special: {{ authelia_config_password_policy_standard_require_special }}
  zxcvbn:
    enabled: {{ authelia_config_password_policy_zxcvbn_enabled }}
    min_score: {{ authelia_config_password_policy_zxcvbn_min_score }}

# Session
session:
    name: {{ authelia_config_session_name }}
{% if not authelia_config_session_secret_external %}
    secret: {{ authelia_config_session_secret }}
{% endif %}
    expiration: {{ authelia_config_session_expiration }}
    inactivity: {{ authelia_config_session_inactivity }}
    remember_me_duration: {{ authelia_config_session_remember_me_duration }}
    domain: {{ authelia_config_session_domain }}

regulation:
    max_retries: {{ authelia_config_session_max_retries}}
    find_time: {{ authelia_config_session_find_time }}
    ban_time: {{ authelia_config_session_ban_time }}

storage:
    encryption_key: {{ authelia_storage_encryption_key }}
{% if authelia_storage_local %}
    local:
        path: {{ authelia_storage_local_path }}
{% endif %}

notifier:
    disable_startup_check: {{ authelia_notifier_disable_startup_check }}
{% if authelia_notifier_filesystem %}
    filesystem:
        filename: {{ authelia_notifier_filesystem_path }}
{% endif %}
{% if authelia_notifier_smtp %}
    smtp:
        username: "{{ authelia_notifier_smtp_username }}"
{% if not authelia_notifier_smtp_password_external %}
        password: "{{ authelia_config_smtp_password }}"
{% endif %}
        host: "{{ authelia_notifier_smtp_host }}"
        port: "{{ authelia_notifier_smtp_port }}"
        sender: "{{ authelia_notifier_smtp_sender }}"
        subject: "{{ authelia_notifier_smtp_subject }}"
        startup_check_address: "{{ authelia_notifier_smtp_startup_check_address }}"
        disable_require_tls: {{ authelia_notifier_smtp_disable_require_tls }}
        disable_html_emails: {{ authelia_notifier_smtp_disable_html_emails }}
        tls:
            skip_verify: "{{ authelia_notifier_smtp_tls_skip_verify }}"
{% endif %}

{% if authelia_config_ntp_enabled %}
ntp:
  address: "{{ authelia_config_ntp_address }}"
  version: {{ authelia_config_ntp_version }}
  max_desync: {{ authelia_config_ntp_max_desync }}
  disable_startup_check: {{ authelia_config_ntp_disable_startup_check }}
  disable_failure: {{ authelia_config_ntp_disable_failure }}
{% endif %}