---

# {{ ansible_managed }}

services:
  zigbee2mqtt:
    container_name: "{{ zigbee2mqtt_container_name }}"
    image: "{{ zigbee2mqtt_image_base }}:{{ zigbee2mqtt_image_base_tag }}"
    user: {{ zigbee2mqtt_container_user_id }}:{{ zigbee2mqtt_container_user_id }}
    group_add:
      - {{ zigbee2mqtt_container_user_group }}
    env_file: zigbee2mqtt.env
    networks:
      - {{ docker_networks.proxy.name }}
    # Volumes store your data between container upgrades
    volumes:
{% for volume in zigbee2mqtt_container_volumes.binds %}
      - {{ volume.source }}:{{ volume.target }}
{% endfor %}
    devices:
      - /dev/serial/by-id/{{ zigbee2mqtt_zigbee_host_usb_device_id }}:{{ zigbee2mqtt_zigbee_container_usb_device_id }}
    labels:
{% for container_label in zigbee2mqtt_container_labels %}
      - "{{ container_label }}"
{% endfor %}
{% for traefik_label in zigbee2mqtt_container_traefik_labels %}
      - "{{ traefik_label }}"
{% endfor %}
    restart: "always"
networks:
  {{ docker_networks.proxy.name }}:
    external: true