---
# {{ ansible_managed }}

homeassistant: {{ zigbee2mqtt_homeassistant }}
permit_join: {{ zigbee2mqtt_permit_join }}
mqtt: {{ zigbee2mqtt_mqtt }}
serial: {{ zigbee2mqtt_serial }}
advanced: {{ zigbee2mqtt_advanced }}
availability: {{ zigbee2mqtt_availability }}
device_options: {{ zigbee2mqtt_device_options }}
frontend: {{ zigbee2mqtt_frontend }}