---

# Ansible vault pass: abcd1234

# Need to specify which python to use, otherwise, uses the one found in /usr/bin
ansible_python_interpreter: "{{ lookup('env','HOME') }}/automation/venv/bin/python3"

# Config backup
network_backup_repository: "{{ vault_network_backup_repository }}"
network_backup_dir: "{{ playbook_dir }}/backups"
network_backup_file: "{{ network_backup_dir }}/{{ inventory_hostname }}.cfg"
git_name: "{{ vault_git_name }}"
git_email: "{{ vault_git_email }}"

# Variables as part of the network_cli connection type
ansible_connection: network_cli
ansible_network_os: ios
ansible_user: "{{ admin_username }}"
ansible_password: "{{ admin_pass }}"

napalm:
  hostname: "{{ inventory_hostname }}"
  username: "{{ admin_username }}"
  password: "{{ admin_pass }}"
  dev_os: "{{ ansible_network_os }}"

# Config on network devices
enable: "{{ vault_enable }}"
local_net_users: "{{ vault_local_net_users }}"
admin_username: "{{ local_net_users[0].username }}"
admin_pass: "{{ local_net_users[0].password }}"
domain: "automation.local"
hsrp_authentication: "{{ vault_hsrp_authentication }}"
netbox_url: "{{ vault_netbox_url }}"
netbox_token: "{{ vault_netbox_token }}"

### Replaced in Netbox
# syslog:
#   - 192.168.1.1
#   - 192.168.1.2
# ntpserver:
#   - 192.168.2.1
#   - 192.168.2.2
