# {{ ansible_managed }}

{% if paperless_ngx_postgres_container_envs.kv is not none %}
{% for key,value in paperless_ngx_postgres_container_envs.kv.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
