---

# {{ ansible_managed }}

version: "3"

services:
  SERVICE_:
    build:
      context: build/
    container_name: "{{ SERVICE__container_name }}"
    image: "{{ SERVICE__image_base }}:{{ SERVICE__image_base_tag }}"
    env_file: SERVICE_.env
    ports:
      - ""
    networks:
      - ""
    # Volumes store your data between container upgrades
    volumes:
{% for volume in SERVICE__container_volumes.binds %}
      - {{ volume.source }}:{{ volume.target }}
{% endfor %}
    labels:
{% for traefik_label in SERVICE__container_traefik_labels %}
      - "{{ traefik_label }}"
{% endfor %}
    restart: "always"
networks:
