#!/bin/bash

### {{ ansible_managed }}

docker exec -d -w "{{ backup_directory }}" SERVICE_

sleep 5s && rsync --remove-source-files -zv {{ SERVICE__container_data_dir }}/mnt-backup/* {{ SERVICE__nfs_backup_directory }}

find {{ SERVICE__nfs_backup_directory }} -mtime +{{ SERVICE__nfs_backup_cleanup_period }} -exec rm {} \;
