# {{ ansible_managed }}

{% if grafana_envs.kv is not none %}
{% for key,value in grafana_envs.kv.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

GF_INSTALL_PLUGINS={{ grafana_envs.GF_INSTALL_PLUGINS | join(',') }}
