---

# {{ ansible_managed }}

version: "3"

services:
  zwave_js_ui:
    container_name: "{{ zwave_js_ui_container_name }}"
    image: "{{ zwave_js_ui_image_base }}:{{ zwave_js_ui_image_base_tag }}"
    env_file: zwave_js_ui.env
    stop_signal: SIGINT
    ports:
      - "{{ zwave_js_ui_websocket_server_port }}:{{ zwave_js_ui_websocket_server_port }}"
    networks:
      - {{ docker_networks.proxy.name }}
    # Volumes store your data between container upgrades
    volumes:
{% for volume in zwave_js_ui_container_volumes.binds %}
      - {{ volume.source }}:{{ volume.target }}
{% endfor %}
    devices:
      - /dev/serial/by-id/{{ zwave_js_ui_host_usb_device_id }}:{{ zwave_js_ui_container_usb_device_id }}
    labels:
{% for container_label in zwave_js_ui_container_labels %}
      - "{{ container_label }}"
{% endfor %}
{% for traefik_label in zwave_js_ui_container_traefik_labels %}
      - "{{ traefik_label }}"
{% endfor %}
    restart: "always"
networks:
  {{ docker_networks.proxy.name }}:
    external: true