# {{ ansible_managed }}
# zwave_js_ui backup cron job

SHELL=/bin/bash
PATH=/usr/bin

{{ zwave_js_ui_nfs_backup_frequency }}   root  {{ zwave_js_ui_container_data_dir }}/scripts/zwave_js_ui-backup.sh
