#!/bin/bash

### {{ ansible_managed }}

docker exec -d -w "{{ backup_directory }}" zwave_js_ui

sleep 5s && rsync --remove-source-files -zv {{ zwave_js_ui_container_data_dir }}/mnt-backup/* {{ zwave_js_ui_nfs_backup_directory }}

find {{ zwave_js_ui_nfs_backup_directory }} -mtime +{{ zwave_js_ui_nfs_backup_cleanup_period }} -exec rm {} \;
