---

# {{ ansible_managed }}

version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  smtp_relay:
    container_name: "{{ smtp_relay_container_name }}"
    image: "{{ smtp_relay_image_base }}:{{ smtp_relay_image_base_tag }}"
    env_file: smtp_relay.env
    ports:
      - "25:25"
    networks:
      - {{ docker_networks.proxy.name }}
    restart: "always"
networks:
  {{ docker_networks.proxy.name }}:
    external: true
