# {{ ansible_managed }}

{% if smtp_relay_envs.kv is not none %}
{% for key,value in smtp_relay_envs.kv.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

smtp_relay_DNS_={{ smtp_relay_envs.smtp_relay_DNS_ | join(';') }}
