### General
persistence {{ mqtt_mosquitto_conf_persistence }}
persistence_location {{ mqtt_mosquitto_conf_persistence_location }}

{% for log_dest in mqtt_mosquitto_conf_log_destinations %}
log_dest {{ log_dest }}
{% endfor %}

user {{ mqtt_mosquitto_conf_user }}

per_listener_settings {{ mqtt_mosquitto_conf_per_listener_settings }}

### Listeners

# MQTT (Unencrypted)
# Used by containers on same Docker host
# Shouldn't be made reachable externally
listener {{ mqtt_mosquitto_port_tcp }}
{% if mqtt_mosquitto_auth_enable %}
password_file /mosquitto/config/{{ mqtt_mosquitto_auth_password_file }}
{% else  %}
allow_anonymous true
{% endif %}

# MQTTS (Encrypted port)
listener {{ mqtt_mosquitto_port_secure_tcp }}
{% if mqtt_mosquitto_auth_enable %}
password_file /mosquitto/config/{{ mqtt_mosquitto_auth_password_file }}
{% else  %}
allow_anonymous true
{% endif %}

include_dir {{ mqtt_mosquitto_conf_include_dir }}