### General
persistence {{ mqtt_mosquitto_conf_persistence }}
persistence_location {{ mqtt_mosquitto_conf_persistence_location }}

{% for log_dest in mqtt_mosquitto_conf_log_destinations %}
log_dest {{ log_dest }}
{% endfor %}

user {{ mqtt_mosquitto_conf_user }}

### Listeners

# MQTTS (Encrypted port)
listener {{ mqtt_mosquitto_port_secure_tcp }}