---

# {{ ansible_managed }}

version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  snmp_exporter:
    build:
      context: build/
    container_name: "{{ container_name }}"
    image: "{{ image_base }}:{{ image_base_tag }}"
    env_file: snmp_exporter.env
    ports:
      - ""
    networks:
      - ""
    # Volumes store your data between container upgrades
    volumes:
{% for volume in container_volumes.binds %}
      - {{ volume.source }}:{{ volume.target }}
{% endfor %}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ docker_networks.proxy.name }}"
      - "traefik.http.routers.snmp_exporter.rule=Host(`snmp_exporter.{{ home_lan_domain }}`)"
      - "traefik.http.routers.snmp_exporter.entrypoints=websecure"
      - "traefik.http.routers.snmp_exporter.middlewares=lanWhitelist@file,secureHeaders@file"
      - "traefik.http.routers.snmp_exporter.tls=true"
      - "traefik.http.routers.snmp_exporter.tls.certresolver=letsEncrypt"
    restart: "always"
networks:
