# {{ ansible_managed }}

[Desktop Entry]
Type=Application
Terminal=false
Exec={{ ansible_env.HOME }}/Applications/Plover.AppImage
Name=Plover
Icon=plover
Categories=Utility;Accessibility;
Comment=stenographic input and translation
Keywords=steno;input;keyboard;
X-Unity-IconBackgroundColor=#414F4C
X-AppImage-Version={{ latest_version }}
