# {{ ansible_managed }}
# traefik.yml
api:
  dashboard: true

log:
  filePath: "{{ traefik_logging_directory }}/traefik.log"
  # format: "common"
  # level: "DEBUG"

accessLog:
  filePath: "{{ traefik_logging_directory }}/access.log"
  # bufferingSize: 100
  # filters:

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure

  websecure:
    address: :443
    proxyProtocol:
{% if traefik_entrypoint_websecure_proxyProtocol_trustedIPs | length > 0 %}
      trustedIPs:
{% for trusted_ip in traefik_entrypoint_websecure_proxyProtocol_trustedIPs %}
        - "{{ trusted_ip }}"
{% endfor %}
{% endif %}
{% if traefik_entrypoint_websecure_forwardedHeaders_trustedIPs | length > 0 %}
    forwardedHeaders:
      trustedIPs:
{% for trusted_ip in traefik_entrypoint_websecure_forwardedHeaders_trustedIPs %}
        - "{{ trusted_ip }}"
{% endfor %}
{% endif %}
    http:
      middlewares:
        - secureHeaders@file

{% if mqtt_mosquitto_port_secure_tcp is defined %}
  mqtt_secure:
    address: ":{{ mqtt_mosquitto_port_secure_tcp }}"
{% endif %}

{% if wireguard_container_port is defined %}
  wireguard:
    address: :{{ wireguard_container_port }}/udp
{% endif %}

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /configurations/traefik-dynamic.yml

certificatesResolvers:
  letsEncrypt:
    acme:
      email: lets.encrypt.certs@m.{{ home_lan_domain_public }}
      storage: /letsEncrypt/acme.json
      dnsChallenge:
        provider: "cloudflare"
        # Appears to be required before cert is issued
        delayBeforeCheck: "120"
