# {{ ansible_managed }}

[Desktop Entry]
Name=Joplin
Exec={{ ansible_env.HOME }}/Applications/Joplin.AppImage
Terminal=false
Type=Application
Icon={{ ansible_env.HOME }}/.joplin/Icon512.png
StartupWMClass=Joplin
Comment=Joplin for Desktop
Categories=Office;
