<?xml version="1.0" encoding="UTF-8"?>
<bookmarks version="3.1">
{% for share in network_shares %}
    <bookmark profile="" category="{{ family_nas_hostname }}">
        <workgroup>{{ smb_domain }}</workgroup>
        <url>smb://{{ family_nas_FQDN }}/{{ share }}</url>
        <login>{{ smb_username }}</login>
        <ip></ip>
        <label>{{ share }}</label>
    </bookmark>
{% endfor %}
</bookmarks>
