# {{ ansible_managed }}

# Ensures path has the LEgo executable in it
export PATH="{{ lego_installation_dir }}:$PATH"
export CPATH='{{ cert_path }}'
export CNAME='{{ lego_domains[0] }}'
export CURRENT=$(cat "$CPATH"/"$CNAME".crt)
export CF_API_EMAIL={{ cf_api_email }} \
export CF_DNS_API_TOKEN={{ cf_dns_api_token }} \

lego  --dns cloudflare {% for domain in lego_domains %} --domains {{ domain }} {% endfor %} --key-type=rsa2048 --email $CF_API_EMAIL --path {{ ssl_path }} -a run

if [[ $CURRENT != $(cat "$CPATH"/"$CNAME".crt) ]]
then
cat "$CPATH"/"$CNAME".crt "$CPATH"/"$CNAME".key > "$CPATH"/"$CNAME".pem;
/etc/init.d/stunnel.sh restart
fi
