# {{ ansible_managed }}

{% if pihole_container_envs.kv is not none %}
{% for key,value in pihole_container_envs.kv.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

FTLCONF_dns_upstreams={{ pihole_container_envs.FTLCONF_dns_upstreams | join(';') }}
