#!/bin/bash

### {{ ansible_managed }}

docker exec -d -w "{{ pihole_backup_directory }}" {{ pihole_container_name }} pihole-FTL --teleporter

sleep 5s && rsync --remove-source-files -zv {{ pihole_container_data_dir }}/mnt-backup/* {{ pihole_nfs_backup_directory }}

find {{ pihole_nfs_backup_directory }} -mtime +{{ pihole_nfs_backup_cleanup_period }} -exec rm {} \;
