# {{ ansible_managed }}

{% if pihole_orbital_sync_container_envs.kv is not none %}
{% for key,value in pihole_orbital_sync_container_envs.kv.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
