---

# {{ ansible_managed }}

version: "3"

# More info at https://docs.frigate.video/frigate/installation#docker
services:
  frigate:
    container_name: "{{ frigate_container_name }}"
    image: "{{ frigate_image_base }}:{{ frigate_image_base_tag }}"
    # See if need to set to true
    privileged: false
    shm_size: "4gb" # Refer to Frigate documentation
    env_file: frigate.env
    # devices:
    #  - /dev/bus/usb:/dev/bus/usb # passes the USB Coral, needs to be modified for other versions
    #  - /dev/apex_0:/dev/apex_0 # passes a PCIe Coral, follow driver instructions here https://coral.ai/docs/m2/get-started/#2a-on-linux
    #  - /dev/dri/renderD128 # for intel hwaccel, needs to be updated for your hardware
    ports:
      - "5000:5000"
      - "{{ frigate_port_rtsp }}:{{ frigate_port_rtsp }}" # RTSP feeds
      - "{{ frigate_port_webrtc }}:{{ frigate_port_webrtc }}/tcp" # WebRTC over tcp
      - "{{ frigate_port_webrtc }}:{{ frigate_port_webrtc }}/udp" # WebRTC over udp
    networks:
      - {{ docker_networks.proxy.name }}
    # Volumes store your data between container upgrades
    volumes:
{% for volume in frigate_container_volumes.binds %}
      - {{ volume.source }}:{{ volume.target }}
{% endfor %}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ docker_networks.proxy.name }}"
      - "traefik.http.routers.frigate1.rule=Host(`{{ traefik_http_rule_hostname }}.{{ home_lan_domain }}`)"
      - "traefik.http.routers.frigate1.entrypoints=websecure"
      - "traefik.http.routers.frigate1.middlewares=lanWhitelist@file,secureHeaders@file"
      - "traefik.http.routers.frigate1.service=frigate-svc"
      - "traefik.http.services.frigate-svc.loadbalancer.server.port={{ frigate_port_web }}"
      - "traefik.http.routers.frigate1.tls=true"
      - "traefik.http.routers.frigate1.tls.certresolver=letsEncrypt"
      # Define separate router for HA Frigate proxy
      # HTTPS not supported in HA proxy
      # https://github.com/blakeblackshear/frigate-hass-addons/issues/112
      # Not doing traefik proxy for this as breaks HA Frigate Proxy add-on
      # - "traefik.http.routers.frigate-ha.rule=Host(`{{ traefik_http_rule_hostname }}_ha-proxy.{{ home_lan_domain }}`) || ( Host(`home-assistant-001.hq1.chuanguyen.ca`) && Path(`/ccab4aaf_frigate-proxy/dashboard`) )"
      # - "traefik.http.routers.frigate-ha.entrypoints=frigate_web"
      # - "traefik.http.routers.frigate-ha.service=frigate-proxy-svc"
      # - "traefik.http.services.frigate-proxy-svc.loadbalancer.server.port={{ frigate_port_web }}"
    restart: "unless-stopped"
networks:
  {{ docker_networks.proxy.name }}:
    external: true