---
# {{ ansible_managed }}
mqtt:
  enabled: {{ frigate_mqtt_enabled }}
  host: '{{ frigate_mqtt_host }}'
  port: {{ frigate_mqtt_port }}
  topic_prefix: {{ frigate_mqtt_topic_prefix }}
  client_id: {{ frigate_mqtt_client_id }}
  user: '{{ frigate_mqtt_user }}'
  password: '{{ frigate_mqtt_password }}'
  # tls_ca_certs must be defined even if LetsEncrypt used
  # Without, error is thrown and won't connect
  # https://github.com/blakeblackshear/frigate/issues/2471
  # Set to default cert path in Ubuntu
  # tls_ca_certs: {{ frigate_mqtt_tls_ca_certs }}
  # tls_insecure: {{ frigate_mqtt_tls_insecure }}
  stats_interval: {{ frigate_mqtt_stats_interval }}

cameras:
{% for camera_name, camera_config in frigate_cameras.items() %}
  {{ camera_name }}:
    {{ camera_config }}
{% endfor %}

birdseye:
  {{ frigate_birdseye }}

detectors:
{% for detector_name, detector_config in frigate_detectors.items() %}
  {{ detector_name }}:
    {{ detector_config }}
{% endfor %}

record:
  {{ frigate_record }}

snapshots:
  {{ frigate_snapshots }}

timestamp_style:
  {{ frigate_timestamp_style }}

ui:
  {{ frigate_ui }}

logger:
  {{ frigate_logger }}