relayhost = {{ postfix_config_relay_host }}
smtp_use_tls = {{ postfix_config_smtp_use_tls }}
smtp_sasl_auth_enable = {{ postfix_config_smtp_sasl_auth_enable }}
smtp_sasl_password_maps = {{ postfix_config_smtp_sasl_password_maps }}
smtp_tls_CApath = {{ postfix_config_smtp_tls_CApath }}
smtp_sasl_security_options = {{ postfix_config_smtp_sasl_security_options }}
smtp_sasl_tls_security_options = {{ postfix_config_smtp_sasl_tls_security_options }}
smtp_tls_wrappermode = {{ postfix_config_smtp_tls_wrappermode }}
smtp_tls_security_level = {{ postfix_config_smtp_tls_security_level }}