[Unit]
Description=Undervolt the CPU Core and Cache, and iGPU

[Service]
Type=oneshot
ExecStart=/usr/local/bin/undervolt.sh

[Install]
WantedBy=default.target
