testbed:
  name: {{ testbed_name }}
  credentials:
    default:
      username: "%ENV{PYATS_USERNAME}"
      password: "%ENV{PYATS_PASSWORD}"
    enable:
      password: '%ENV{PYATS_PASSWORD}'
devices:
{% for device in nb_devices %}
  {{ device.name }}:
    os: {{ device.platform.slug }}
    platform: {{ device.device_type.model  }}
    type: {{ pyats_device_types[device.device_type.slug]['custom_fields']['pyats_device_type'] }}
    role: {{ device.device_role.slug }}
    connections:
      mgmt:
        ip: {{ device.primary_ip4.address | ipaddr('address') }}
        protocol: ssh
{% endfor %}
topology:
