---

# {{ ansible_managed }}

services:
  immich-server:
    container_name: {{ immich_server_container_name }}
    image: {{ immich_server_image_base }}:{{ immich_image_base_tag }}
    networks:
      - {{ docker_networks.proxy.name }}
      - immich
    # Volumes store your data between container upgrades
    volumes:
{% for volume in immich_container_volumes.binds %}
      - {{ volume.source }}:{{ volume.target }}
{% endfor %}
{% for media_volume in immich_media_volumes %}
      - {{ media_volume.name }}:{{ media_volume.container_dest }}
{% endfor %}
    labels:
{% for traefik_label in immich_proxy_container_traefik_labels %}
      - "{{ traefik_label }}"
{% endfor %}
    env_file:
      - immich.env
    depends_on:
      - redis
      - database
    restart: always

  immich-machine-learning:
    container_name: {{ immich_machine_learning_container_name }}
    image: {{ immich_machine_learning_image_base }}:{{ immich_image_base_tag }}
    networks:
      - {{ docker_networks.proxy.name }}
      - immich
    volumes:
      - model-cache:/cache
    env_file:
      - immich.env
    restart: always

  redis:
    container_name: {{ immich_redis_container_name }}
    image: {{ immich_redis_image_base }}:{{ immich_redis_image_base_tag }}
    networks:
      - immich
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always

  database:
    container_name: {{ immich_postgres_container_name }}
    image: {{ immich_postgres_image_base }}:{{ immich_postgres_image_base_tag }}
    networks:
      - immich
    env_file:
      - immich.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

networks:
  {{ docker_networks.proxy.name }}:
    external: true
  immich:
    external: false
volumes:
  pgdata:
  model-cache:
{% for media_volume in immich_media_volumes %}
  {{ media_volume.name }}:
    driver: {{ media_volume.driver }}
    driver_opts:
      type: {{ media_volume.driver_opts.type }}
      device: "{{ media_volume.driver_opts.device }}"
      o: "{{ media_volume.driver_opts.o }}"
{% endfor %}