!
!
!
{% for interface in Interfaces %}
{% for if_name, value in interface.items() %}
interface {{ if_name }}
{% if value.Int_Type == "Physical" %}
 {{ value.State }}
 duplex {{ value.Duplex }}
 speed {{ value.Speed }}
{% endif %}
 description {{ value.Description }}
{% for ipv4_addr in value.ipv4 %}
 ip address {{ ipv4_addr.IP | ipaddr('address')}} {{ ipv4_addr.IP | ipaddr('netmask') }}
{% endfor %}
!
{% endfor %}
{% endfor %}
