!
!
!
{% for interface in nb_device_interfaces %}
interface {{ interface.name }}
 description {{ interface.description }}
{% if interface_ip_dict[interface.name] is defined %}
{% if interface_ip_dict[interface.name].family.value == 4 %}
 ip address {{ interface_ip_dict[interface.name].address | ipaddr('address') }} {{ interface_ip_dict[interface.name].address | ipaddr('netmask') }}
{% elif interface_ip_dict[interface.name].family.value == 6 %}
 ipv6 address {{ interface_ip_dict[interface.name].address }}
{% endif %}
{% else %}
 no ip address
{% endif %}
{% if interface.name == "FastEthernet0/0" %}
{% for hsrp_group in ansible_Interfaces[interface.name].hsrp %}
 standby version {{ hsrp_group.version }}
 standby {{ hsrp_group.group }} ip {{ hsrp_group.primary_ip }}
{% if hsrp_group.priority != "100" %}
 standby {{ hsrp_group.group }} priority {{ hsrp_group.priority }}
{% endif %}
{% if hsrp_group.preempt %}
 standby {{ hsrp_group.group }} preempt
{% endif %}
 standby {{ hsrp_group.group }} authentication {{ hsrp_authentication }}
{% endfor %}
{% endif %}
{% if not interface.enabled %}
 shutdown
{% endif %}
 duplex auto
 speed auto
!
{% endfor %}
