no upgrade fpd auto
version 15.3
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
aqm-register-fnf
!
enable secret {{ enable }}
!
no ip icmp rate-limit unreachable
!
no ip domain lookup
ip domain name {{ domain }}
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
archive
 path disk0:archive
 write-memory
!
username {{ admin_username }} privilege 15 secret {{ admin_pass }}
!
redundancy
