---

# {{ ansible_managed }}

version: "3"

services:
  jellyfin:
    container_name: "{{ jellyfin_container_name }}"
    image: "{{ jellyfin_image_base }}:{{ jellyfin_image_base_tag }}"
    user: {{ jellyfin_container_uid }}:{{ jellyfin_container_uid }}
    env_file: jellyfin.env
    networks:
      - {{ docker_networks.proxy.name }}
    # Volumes store your data between container upgrades
    volumes:
{% for volume in jellyfin_container_volumes.binds %}
      - {{ volume.source }}:{{ volume.target }}
{% endfor %}
{% for media_volume in jellyfin_media_volumes %}
      - type: {{ media_volume.type }}
        source: {{ media_volume.name }}
        target: {{ media_volume.container_dest }}
        read_only: {{ media_volume.read_only }}
{% endfor %}
    labels:
{% for container_label in jellyfin_container_labels %}
      - "{{ container_label }}"
{% endfor %}
{% for traefik_label in jellyfin_container_traefik_labels %}
      - "{{ traefik_label }}"
{% endfor %}
    restart: "always"
networks:
  {{ docker_networks.proxy.name }}:
    external: true
volumes:
{% for media_volume in jellyfin_media_volumes %}
  {{ media_volume.name }}:
    driver: {{ media_volume.driver }}
    driver_opts:
      type: {{ media_volume.driver_opts.type }}
      device: "{{ media_volume.driver_opts.device }}"
      o: "{{ media_volume.driver_opts.o }}"
{% endfor %}